/****** General ***********/


* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.logo{
 
    width: 75px;
}
.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 50px 0px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
   
}
.hebergements-items{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}
.hebergement-card{
    width: 30%;
    height: 250px;
}
.hebergements-title {
    display: flex;
    align-items: center;
}
.hebergements-cards-img{
    max-width: 100%;
    object-fit: contain;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* boutton header */
.topdroite{
    position: absolute;
    right: 0px;
    top: 5px;
}
.buttonTop{
    margin-left: 10px;
    margin-right: 20px;
	box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.buttonhover:hover {
    color: #0065FC;
    border-top: solid;
    border-top-color: #0065FC;
	border-width: 3px;
}

.header{
    margin-top: 0px;
}
/*from recherche
revoir taille plus bordure*/
.boxrecherche{
    display: flex;
    width: 400px;
    box-sizing: border-box;
    text-decoration: none;
    border: solid var(--main-bg-color) 1px;
    border-left: none;
    border-right: none;
}
.logomap{
    background-color: #D9D9D9; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius:20px 0px 0px 20px ;
    width: 50px;
}
.imput{
    margin: 0px;
    border: none;
    background-color: white;
    height: 50px;
    width: 100%;
    color: black;
}
.imput:focus{
    outline: none
}
.submit{
    border-radius: 0px 20px 20px 0px;
    height: 50px;
    width: 40%;
    background-color: #0065FC;
    text-decoration: none;
    color: white;
    border: none;
}

/*Filtres*/
.container-filtres{
    width: 60%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.filtres{
    padding-right: 5px;
    display: flex;
    align-items: center;
    border: solid #D9D9D9 1px;
    border-radius: 50px;
    width: 200px;
    height: 50px;
}
.logofiltres{
    padding: 0px 10px 0px 5px;
    align-items: center;
    width: auto;
    height: auto;
}


.filtres:hover{
    background-color: #deebff ;
}
/* COde pour l'info nombre logement  */
.info{
    display: flex;
    align-items: baseline;
    margin: 10px;
}
.logoinfo{
    padding: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid #D9D9D9;
}

.activites{
    background-color: var(--main-bg-color);

    display:flex;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}